<html>
	<head>
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			body {
				color: black !important;
			}

			.container {
				line-height: 1.5rem;
			}

			a {
				color: #3A86FF;
			}

			.btn, .btn:visited, .btn:active, .btn:link, .btn:hover {
				display: inline-block;
				text-decoration: none;
				background-color: #3A86FF;
				border-radius: 8px;
				padding: 8px 16px;
				margin: 16px 0;
				color: white !important;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<h2>Redefinição de senha</h2><br />

			<p>Olá <strong>{{name}}</strong>! Tudo bem?</p><br />

			<strong>Esqueceu sua senha?</strong>

			<p>Nós recebemos uma solicitação de redefinição de senha para sua conta.</p>

			<p>Se você não fez essa solicitação, pode ignorar este email.</p><br />

			<p>Para redefinir sua senha, clique no botão abaixo:</p>

			<a class="btn" href="{{link}}">Redefinir Senha</a>

			<p>Ou copie e cole o link abaixo no seu navegador:</p>

			<a href="{{link}}">{{link}}</a>

			<p>Este link expira em 1 hora.</p>
		</div>
	</body>
</html>
